body { 
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 300;
   color: #fff;
   background: rgb(240,248,255);
   /* background: linear-gradient(90deg, rgba(240,248,255,1) 0%, rgba(190,207,222,1) 36%, rgba(137,176,210,1) 100%); */
}
a {
   cursor: pointer;
}


h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

*, *::before, *::after {
   box-sizing: border-box;
}

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
}


/* HEADER 
-----------*/
.header {
   font-family: 'Montserrat', sans-serif;
   
   width: 100%;
   height: 100px;

   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
}

.header__logo {
   font-size: 22px;
   color: #fff;
   font-weight: 600;
   letter-spacing: 2px;
}

.logo__link{
   color: #fff;
   text-decoration: none;

   transition: color .1s linear;
}

.logo__link:hover {
   color: yellowgreen;

}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px 0;
   border-bottom: 1.5px solid #53535350;
}

.nav {
   display: flex;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   float:right;
   
}

.d-none {
   display: block;
}

.nav__link {
   margin-left: 50px;

   color: #fff;
   text-decoration: none;

   transition: opacity, color, transform .1s linear;
}

.nav__link:first-child{
   margin-left: 0;
}

.nav__link:hover {
   opacity: 1;
   color: yellowgreen;
   transform: scale(1.05);
}

.burger {
   display: none;
   padding: 15px 0;
   background: none;

   cursor: pointer;
   border: 0;
}
.burger__item {
   display: block;
   width: 28px;
   height: 3px;

   font-size: 0;
   color: transparent;
   position: relative;

   background-color: #e1e2e4;
}

.burger__item::before,
.burger__item::after {
   content: "";
   width: 100%;
   height: 100%;
   background-color: #e1e2e4;

   position: absolute;
   left: 0;
   z-index: 1;
}

.burger__item::before {
   top: -8px;
}

.burger__item::after {
   top: 8px;
}



/* MAIN
---------------*/

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 780px;
   background: #132737 url("../img/main.jpg") center no-repeat;
   background-size: cover;

}

.main__inner {
   max-width: 970px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

.main__title {
   margin: 0 0 40px;
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   font-weight: 800;
   color: #fff;
   text-transform: uppercase;

}

.main__subtitle {
   margin-bottom: 60px;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.3;
   letter-spacing: 1px;
   text-transform: none;
}

/* BUTTON BOOK NOW
-------------------*/

.buttn {
   display: inline-block;
   cursor: pointer;

   padding: 13px 25px;
   border-radius: 7px;
   border: 0;

   font-family: 'Montserrat', sans-serif;
   font-size: 15p;
   color: #e2dada;
   font-weight: 500;
   text-decoration: none;
   text-transform: uppercase;
   transition: background .2s linear;
}

.button-red {
   background-color: #cf3030;
}

.button-red:hover {
   background-color: #b42323;
   transform: scale(1.02 );
}


/* FEATURES
-------------------*/

.features {
   display: flex;
   flex-wrap: wrap;
   margin: 100px 0;
   color: black;
}

.features__item {
   width: 33.33333%;
   padding: 0 40px;

   text-align: center;
   
}

.features__icon {
   margin-bottom: 20px;
   max-height: 65px;
}

.features__title {
   margin-bottom: 20px;
   color: black;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   text-transform: uppercase;
}

.features__text {
   font-size: 13px;
   margin-bottom: 40px;
}





/* ROOMS
======== */

.rooms {
   display: flex;
   flex-wrap: wrap;
   color: #fff;
   padding: 10px 0;
   padding-bottom: 0px;
   /* background-color:rgb(222, 215, 215); */
}

.tiny__text {
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   font-weight: 600;
  
   letter-spacing: 1.3px;
   word-spacing: 2px;
   color: #8c8f92;
  
   width: 100%;
   margin-bottom: 8px;
}

.inner__title {
   margin-bottom: 25px;
   font-size: 50px;

}

.rooms__innner {
   font-family: 'Raleway', sans-serif;
  
   color: black;

   display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;

   width: 100%;
   margin-bottom: 10px;
}

.rooms__item {
   width: 25%;
   position: relative;
   overflow: hidden;
   height: 600px;
   border-right: 5px solid rgb(222, 215, 215);

}

.rooms__item:last-child {
   border-right: 0px;
}

.rooms__item:hover .rooms__content {
   opacity: 1;
}

.rooms__photo {
   min-width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;
   transform: translate3d(-50%, -50%, 0);
   background-color: rgb(222, 215, 215);
}

.rooms__content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   opacity: 0;

   width: 100%;
   height: 100%;
   background-color: rgba(19, 39, 55, .9);   
   transition: opacity .3s linear;

   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
}

.rooms__title {
   font-size: 45px;
   font-weight: 600;
   margin-bottom: 40px;
   padding-top: 30px;
   text-align: center;

}
.rooms__subtitle{
   font-size: 20px;
   font-weight: 300;
}
.rooms__price {
   font-size: 45px;
   font-weight: 600;
   margin-bottom: 50px;
}
.rooms__text {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   margin: 0 10px;
   margin-bottom: 45px;

}

.rooms__button {

   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 17px;
}

.rooms__button a {
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   line-height: 5px;

}

.rooms__button a:hover {
   color:#ff4242d3;
   border-bottom: 1px solid #cf3030;
}





.reviews {
   padding-top: 70px;
   background-color:rgb(222, 215, 215);
   padding-bottom: 70px;
}

.reviews__title {
   color: #e35e0a;
   font-size: 15px;
   font-weight: 700;
   text-transform: uppercase;
   
   text-align: center;
}
.reviews__subtitle {
   text-align: center;
   color: black;
   font-weight: normal;
}

.reviews__block {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 250px;
   line-height: 1.5;
}

.reviews__text {
   text-align: center;
   color: black;
}

.reviews_author {
   width: 100%;
   text-align: center;
   color: black;
}

.fa-star {
   color: white;
}

.checked {
   color: orange;
 }




/* ABOUT US
============ */

.about {
   color: #000;
   margin-top: 50px;
   margin-bottom: 50px;
}

.about__item {
   display: flex;
   flex-wrap: wrap;

}

.about__content {
   font-weight: 400;
   margin: auto;
   text-align: center;
   width: 50%;
}

.about__title {
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 30px;
}

.about__text {
   margin-bottom: 20px;
   font-weight: 300;
   font-size: 15px;
   line-height: 1.7;
   
}

.about__subtitle {
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 25px;
}

.about__info {
   font-size: 16px;
   font-weight: 300;
   line-height: 1.4;
   margin-bottom: 30px;
}

.about__link {
   text-align: center;
   font-weight: 500;
   color: black;
   text-decoration: none;
   line-height: 30px;
   transition: color .2s linear;
}
.about__link:hover {
   color: #cf3030;
}

/* Social */

.social {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 20px;
}

.social--footer{
   fill: #fff;
}

.social__item {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   margin-right: 10px;
   margin-bottom: 5px;

   border: 1px solid #e8ecee;
   transition: background .1s linear;
}
.social__item:hover {
   background-color: #e8ecee;
}
.social__item:hover .social__icon {
   fill: #000;
}

.social--footer .social__item {
   background: transparent;
   border-width: 2px;
   border-radius: 2px;
}
.social--footer .social__item:hover {
   background: #fff;
}

.social__icon {
   display: block;
   height: 18px;
   fill: rgb(10, 10, 10);

   transition: fill .1s linear;
}

.social--footer .social__icon {
   fill: #fff;
}



/* REVIEWS
============ */


/* GALLERY 
============*/

.gallery {
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   margin: 0;
}

.gallery__item {
   width: 25%;
   height: 350px;

   border-bottom: 1px solid #fff;
   border-right: 1px solid #fff;

   position: relative;
   overflow: hidden;
}

.gallery__photo {
   min-width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate3d(-50%, -50%, 0);
}
/* FOOTER 
=====================*/

.footer {
   padding: 70px 0;
   background-color:#132737;
}

.footer__inner {
   display: flex;
   flex-wrap: wrap;
}
.footer__block {
   width: 33.33%;
   text-align: center;
}

.footer__title {
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;

   margin-bottom: 10px;
}

.footer__address {
   font-style: normal;
   color: rgba(255, 255, 255, 0.5);
   font-size: 14px;
   line-height: 1.5;
}












/* ================================================
===================================================
==================   BOOKING.HTML   ===============
===================================================
=================================================== */



.section {
   position: relative;
   height: 100vh
}

.section .section-center {
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%)
}

#booking {
   font-family: 'Raleway', sans-serif;
   background-image: url('../img/rooms/room_banner.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.booking-form {
   
   position: relative;
   max-width: 642px;
   width: 100%;
   margin: auto;
   margin-top: 90px;
   padding: 40px;
   overflow: hidden;
   border-radius: 5px;
   z-index: 20
}

.booking-form::before {
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: -1
}

.booking-form .form-header {
   text-align: center;
   position: relative;
   margin-bottom: 30px
}

.booking-form .form-header h1 {
   font-weight: 700;
   text-transform: capitalize;
   font-size: 42px;
   margin: 0px;
   color: #fff
}

.booking-form .form-group {
   position: relative;
   margin-bottom: 30px
}

.booking-form .form-control {
   background-color: rgba(255, 255, 255, 0.2);
   height: 60px;
   padding: 0px 25px;
   border: none;
   border-radius: 40px;
   color: #fff;
   -webkit-box-shadow: 0px 0px 0px 2px transparent;
   box-shadow: 0px 0px 0px 2px transparent;
   -webkit-transition: 0.2s;
   transition: 0.2s
}

.booking-form .form-control::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control::placeholder {
   color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control:focus {
   -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
   box-shadow: 0px 0px 0px 2px #ff8846
}

.booking-form input[type="date"].form-control {
   padding-top: 16px
}

.booking-form input[type="date"].form-control:invalid {
   color: rgba(255, 255, 255, 0.5)
}

.booking-form input[type="date"].form-control+.form-label {
   opacity: 1;
   top: 10px
}

.booking-form select.form-control {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none
}

.booking-form select.form-control:invalid {
   color: rgba(255, 255, 255, 0.5)
}

.booking-form select.form-control+.select-arrow {
   position: absolute;
   right: 15px;
   top: 50%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 32px;
   line-height: 32px;
   height: 32px;
   text-align: center;
   pointer-events: none;
   color: rgba(255, 255, 255, 0.5);
   font-size: 14px
}

.booking-form select.form-control+.select-arrow:after {
   content: '\279C';
   display: block;
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg)
}

.booking-form select.form-control option {
   color: #000
}

.booking-form .form-label {
   position: absolute;
   top: -10px;
   left: 25px;
   opacity: 0;
   color: #ff8846;
   font-size: 11px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1.3px;
   height: 15px;
   line-height: 15px;
   -webkit-transition: 0.2s all;
   transition: 0.2s all
}

.booking-form .form-group.input-not-empty .form-control {
   padding-top: 16px
}

.booking-form .form-group.input-not-empty .form-label {
   opacity: 1;
   top: 10px
}

.booking-form .submit-btn {
   color: #fff;
   background-color: #e35e0a;
   font-weight: 700;
   height: 60px;
   padding: 10px 30px;
   width: 100%;
   border-radius: 40px;
   border: none;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 1.3px;
   -webkit-transition: 0.2s all;
   transition: 0.2s all
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
   opacity: 0.9
}














/* Media 
=====================*/


@media(max-width:1300px) {
   .gallery__item {
      width: 50%;
   }
}

@media(max-width:1200px) {

   /* HEADER 
   -----------*/
   .header {
      padding: 0 40px;
   }
   
   /* MAIN
   ---------------*/
   .main__subtitle {
      font-size: 18px;

   }

   .gallery__item {
      width: 50%;
      border-bottom: 1px solid #fff;
      border-right: 0px
   }
}


@media(max-width:1050px) {
   /* MAIN 
   -----------*/
   .main__subtitle {
      padding: 0 90px;
   }
   .reviews__block {
      margin: 0 100px;
   }

}

@media(max-width:990px) {

   
   /* HEADER 
   -----------*/
   .header {
      padding-left: 50px;
   }
   /* MAIN 
   -----------*/
   .main__subtitle {
      padding: 0 90px;
   }

   .rooms__item {
      width: 50%;
      border-right: 0px;
      border-top: 0px;
      border-bottom: 1px;
   }
}

@media(max-width:870px) {
   /* HEADER 
   -----------*/
   .nav {
      font-size: 14px;
      font-weight: 600;
   }
   .nav__link {
      margin-left: 20px;
   }


        /* FEATURES 
     -----------*/
   .features {
      margin: 50px 0;
   }

   .features__item {
      width: 50%;   
      padding: 0 20px;
   }
   
}

@media(max-width:767px) {

   .section {
      height: 125vh;
   }


   .booking-form::before {
      background: rgba(0, 0, 0, 0.5);
   }

   /* HEADER 
   -----------*/
   nav {
      display: none;
   }
   .nav {
      display: none;
   }

   .burger {
      display: block;
   }


   /* MAIN 
   -----------*/
   
   .main {
      height: auto;
      padding: 130px 0;
   }
   .main__title {
      margin: 50px 0;
   }

     /* FEATURES 
     -----------*/


   .features__item {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      
   }

   .rooms__item {
      width: 100%;

      border: 0px;
   }

   .gallery__item {
      width: 100%;
      border-bottom: 1px solid white;
      height: 300px;
   }

   .about__title {
      font-size: 30px;
      margin-bottom: 25px;
   }

}

@media(max-width:500px) {
   /* MAIN
   -----------*/
   .section {
      height: 125vh;
   }
   .booking-form input[type="date"].form-control {    padding-top: 9px;}

   .booking-form {
      margin-top: 0;
      border-radius: 10px;
      margin: 5px;
      padding: 30px;
      top: -10px;
   }

   .d-md-none{
      display: none;
   }
   .booking-form .form-header h1 {
      font-size: 25px;
   }
   
   .booking-form .form-control {
      height: 50px;
   }
   .booking-form input[type="date"].form-control+.form-label {top: 6px;}
   .booking-form .submit-btn {height: 45px;}
   .booking-form .submit-btn {font-size: 15px;}

   .main__title {
      font-size: 35px;
   }
   .main__subtitle {
      font-size: 15px;
      line-height: 1.8;
   }
   .main {
      height: auto;
      padding-bottom: 70px;
   }
   .features {
      margin: 50px 0;
   }
   .features__item {
      padding: 0 20px;
   }
   .features__icon {
      margin-bottom: 15px;
   }

   .reviews__block {
      margin: 0 20px;
   }

   .features__title { margin-bottom: 10px;}

   .features__text {
      margin-bottom: 20px;;
   }
   .about__item {
      text-align: center;
      justify-content: center;
   }
   .about__content {
      margin: 0 50px;
   }

   .footer__block {
      width: 100%;
   }
   .footer__title {
      margin-top: 20px;
   }
   .footer__title--first {
      margin-top: 0;
   }



}

@media(max-width:430px) {
   /* MAIN
   -----------*/
   .header {
      padding: 0 10px;
   }
   .main__title {
      font-size: 28px;
      margin-bottom: 25px;
   }
   .main__subtitle {
      font-size: 14px;
      line-height: 1.8;
      padding: 0 20px;
      margin-bottom: 30px;
   }
}


