body { 
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 300;
   color: #fff;
   background-color:#f0f8ff;  
}
a {
   cursor: pointer;
}


h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

*, *::before, *::after {
   box-sizing: border-box;
}

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
}


/* HEADER 
-----------*/
.header {
   width: 100%;
   height: 100px;

   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
}

.header__logo {
   font-size: 22px;
   color: #fff;
   font-weight: 600;
   letter-spacing: 2px;
}

.logo__link{
   color: #fff;
   text-decoration: none;

   transition: color .1s linear;
}

.logo__link:hover {
   color: yellowgreen;

}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px 0;
   border-bottom: 1.5px solid #53535350;
}

.nav {
   display: flex;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   float:right;
   
}

.nav__link {
   margin-left: 50px;

   color: #fff;
   text-decoration: none;

   transition: opacity, color, transform .1s linear;
}

.nav__link:first-child{
   margin-left: 0;
}

.nav__link:hover {
   opacity: 1;
   color: yellowgreen;
   transform: scale(1.05);
}


/* MAIN
---------------*/

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 780px;
   background: #132737 url("../img/main.jpg") center no-repeat;
   background-size: cover;

}

.main__inner {
   max-width: 970px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

.main__title {
   margin: 0 0 40px;
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   font-weight: 800;
   color: #fff;
   text-transform: uppercase;

}

.main__subtitle {
   margin-bottom: 60px;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.3;
   letter-spacing: 1px;
   text-transform: none;
}

/* BUTTON BOOK NOW
-------------------*/

.buttn {
   display: inline-block;
   cursor: pointer;

   padding: 13px 25px;
   border-radius: 7px;
   border: 0;

   font-family: 'Montserrat', sans-serif;
   font-size: 15p;
   color: #e2dada;
   font-weight: 500;
   text-decoration: none;
   text-transform: uppercase;
   transition: background .2s linear;
}

.button-red {
   background-color: #cf3030;
}

.button-red:hover {
   background-color: #b42323;
   transform: scale(1.02 );
}